
<div id="cluster-map"></div>
<div class="container">
    <h1>All Yamcamps</h1>

    <% for (let yamcamp of yamcamps){%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <%if(yamcamp.images.length) {%>
                <img class="img-fluid" alt="" src="<%=yamcamp.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= yamcamp.title %> </h5>
                    <p class="card-text"><%= yamcamp.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= yamcamp.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/yamcamps/<%=yamcamp._id%>">View <%=yamcamp.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
</div>